ul {
    list-style-type: none;
    padding: 0;
}

h1{
    text-align: center;
}
  
li {
    margin-bottom: 20px; /* Add margin between each list item */
    padding: 10px;
    margin: 10px;
    display: flex; /* Use flexbox for layout control */
    align-items: center; /* Center contents vertically */
    justify-content: space-between; /* Distribute contents along the main axis (horizontally) */
}
  
#hero-title{
    margin: 20px;
}
button {
    padding: 4px 8px;
    cursor: pointer;
}
  
#red {
    background-color: #ae2d1e;
    color: #fff;
    border-radius: 5px;
}

#green {
    background-color: #089241;
    color: #fff;
    border-radius: 5px;
}

#user-btns {
    display: flex;
    gap: 20px; /* Add space between buttons */
}


  .hero-detail-item {
    padding-left: 40px; 
  }
  
  .detail-label, .rev-label{
   
    font-weight: bold; 
    color: #333; 
  }

.review-item {
    display: inline-block; /* Display items in a line */
    margin: 10px;
    margin-left: 20px;
}
  
.rev-label{
    font-weight: bold;
    margin-right: 5px; 
}

h4{
    margin-bottom: 5px;
}

#policies a{
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

#policies{
    margin-top: 100px;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
}


#content {
    flex: 1;
    /* Add styles for your main content container as needed */
}

