#hero-info-page{
    display: none;
}
#hero-matches-page{
    display: none;
}
#manage-lists-page{
    display: none;
}

#row{
    display: flex;
    align-items: center;
}

.topnav {
    width: 110%;
}

h1 {
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#saved-lists h1{
    text-align: left;
    font-family:monospace;
    font-size: 20px;
    font-weight: bold;
}

body{
    background-color:rgb(109, 126, 173);
}

select{
    font-size:16px
}

h2{
    padding-left: 12px;
    margin-top: 20px;
    font-family:monospace;
}

option{
    font-family:monospace;
    font-size: 16px;
}
label{
    font-family:monospace;
    font-size: 16px;
}
p{
    font-family:monospace;
    font-size: 16px;

}


#top {
    background-color: rgb(172, 167, 167);
}
.topBtn {
    background-color: rgb(172, 167, 167);
    width: 33.3%; 
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topnav {
    width: 100%;
    font-size: 0; 
    white-space: nowrap; 
}
  
.topBtn {
    width: 33.33%;
    font-size: 18px; 
    line-height: 1; 
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    box-sizing: border-box; 
    margin: 0;
    border-radius: 0;
    font-family:monospace;
    font-weight: bold;
}


#search-matches, #search-info, #create-list, #past-lists, #search-list, #delete-list{
    padding: 0px 5px;
    height: 30px;
    font-size: 16px; 
    align-items: baseline;
    font-family: monospace;
}

#search-by-input, #numMatches, #listName, #heroIds, #search-by-input{
    font-family:monospace;
    font-size: 16px;
}

#list-manage{
    margin: 10px;
}

#Fields, #PatternBtns, #numResults{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

span{
    font-family:monospace;
    font-size: 16px;
}


#Fields > *, #PatternBtns > *, #numResults > *, #list-manage > *{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
}

.p{
    white-space: pre-line;
}

#info-search-div {
    display: flex;
    align-items: center;
}

#info-search-div label,
#info-search-div select,
#info-search-div button {
    margin: 8px; 
}